<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.6.2" targetFramework="monoandroid90" />
  <package id="info.lundin.math.dll" version="1.2.6" targetFramework="monoandroid90" />
  <package id="MonoGame.Extended" version="3.7.0" targetFramework="monoandroid90" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid90" />
  <package id="Myra" version="0.9.9.200" targetFramework="monoandroid90" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.FSharp.ResourceProvider" version="1.0.0.28" targetFramework="monoandroid90" />
  <package id="XNAssets" version="0.5.0.6" targetFramework="monoandroid90" />
</packages>